.git/
.gitattributes
.gitignore
.github/
.gitlab/
.gitlab-ci.yml
.vscode/
.ai/
.wiki/
.windsurf/
releases/
bin/
tmp/
testvol/
var/
*.md
*.log
*.gif
doki
dokid
doki-compose
doki-kube
doki-kubectl
doki-init
dokid.log.*
vendor/
