bin/
releases/
*.log
*.log.*
.DS_Store
/tmp/
/testvol/
/var/
cmd/doki-init-rust/target/
/doki
/dokid
/doki-compose
/doki-init
/doki-kube
/doki-kubectl
/critest
/dokitest
/regtest
.idea/
*.swp
*.swo
*~
Thumbs.db
Desktop.ini
vendor/
*.out
cover.html
coverage.out
coverage.xml
